*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

h1 {
  font-size: 2.8em; }

h2 {
  font-size: 2.4rem; }

p {
  text-indent: 1rem;
  font-size: 1.8rem; }

ol, li, ul {
  text-indent: 5rem;
  font-size: 1.8rem; }

a {
  font-size: 1.8rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.btn {
  border: 1px solid black;
  width: 20rem;
  height: 6rem;
  font-size: 2.4rem; }
  .btn--logout {
    position: absolute;
    bottom: 0; }
  .btn--close-modal {
    position: absolute;
    bottom: 1.25rem; }
  .btn--submit-form {
    width: 100%; }
  .btn--save-info {
    width: 100%; }

.header {
  border: 1px solid black;
  height: 25vh;
  position: relative;
  background-image: linear-gradient(to bottom right, #405275, rgba(33, 143, 254, 0.6));
  margin-bottom: 5rem; }
  .header__text {
    position: absolute;
    text-align: center;
    font-size: 10rem;
    top: 10rem;
    left: 50vw;
    transform: translate(-50%, -50%);
    border: 1px solid black; }

.container {
  border: 1px solid black;
  margin: 2rem;
  padding: 2rem; }

.account-form {
  position: relative;
  display: flex;
  flex-flow: column; }
  .account-form__form {
    height: 25rem; }
    .account-form__form--BattleTag {
      margin-top: 5rem;
      width: 100%;
      text-align: center;
      font-size: 5rem;
      margin-bottom: 1rem;
      border: 1px solid black; }
    .account-form__form--starting-sr {
      margin-top: 5rem;
      width: 100%;
      text-align: center;
      font-size: 5rem;
      margin-bottom: 1rem;
      border: 1px solid black; }

.account-info {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center; }

.app-header {
  height: 20vh;
  background-image: linear-gradient(to bottom right, #405275, rgba(33, 143, 254, 0.6));
  border-bottom: 1px solid black; }
