*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.app-header {
  height: 20vh;
  background-image: linear-gradient(to bottom right, #405275, rgba(33, 143, 254, 0.6));
  border-bottom: 1px solid black; }
