*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 2rem; }

h1 {
  font-size: 2.5rem;
  text-decoration: underline;
  font-variant: small-caps; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.btn {
  width: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 2rem;
  height: 4rem;
  border: 1px solid black; }
  .btn--close-modal {
    position: absolute;
    bottom: 1rem; }
  .btn--login {
    position: absolute;
    bottom: 0; }
  .btn--logout {
    position: absolute;
    bottom: 0; }
  .btn--submit-form {
    position: absolute;
    height: 6rem; }

.header {
  border: 1px solid black;
  height: 25vh;
  position: relative;
  background-image: linear-gradient(to bottom right, #405275, rgba(33, 143, 254, 0.6));
  margin-bottom: 5rem; }
  .header__text {
    position: absolute;
    text-align: center;
    font-size: 10rem;
    top: 10rem;
    left: 50vw;
    transform: translate(-50%, -50%);
    border: 1px solid black; }

.container {
  border: 1px solid black;
  margin: 2rem;
  padding: 2rem; }

.account-form {
  margin-top: 5rem;
  text-align: center; }
  .account-form__form {
    text-align: center;
    margin-top: 10rem; }
    .account-form__form--starting-sr {
      border: 1px solid black; }
    .account-form__form--BattleTag {
      position: relative;
      font-size: 5rem;
      width: 50rem;
      border: 1px solid black; }

.app-header {
  height: 20vh;
  background-image: linear-gradient(to bottom right, #405275, rgba(33, 143, 254, 0.6));
  border-bottom: 1px solid black; }
