.account-form {
    position: relative;
    display: flex;
    flex-flow: column;
    // height: 90%;
    &__form {
    height: 25rem;
        &--BattleTag {
            margin-top: 5rem;
            width: 100%;
            text-align: center;
            font-size: 5rem;
            margin-bottom: 1rem;
            border: 1px solid black;
        }
        &--starting-sr {
            margin-top: 5rem;
            width: 100%;
            text-align: center;
            font-size: 5rem;
            margin-bottom: 1rem;
            border: 1px solid black;
        }

    }
}
.account-info{
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}