.btn {
    border: 1px solid black;
    width: 20rem;
    height: 6rem;
    font-size: $default-heading-2-size;
    &--logout {
        position: absolute;
        bottom: 0;
    }
    &--close-modal {
        position: absolute;
        bottom: 1.25rem; // width: 95%;
    }
    &--submit-form {
        width: 100%;
    }
    &--save-info {
        width: 100%
    }
}